/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* FONTS */
footer{
    background-color: black !important;
    height: 40px;
    color: white;
    padding: 0 10px;
}

footer ul{
    list-style: none;
}

footer ul li{
    font-family: Helvetica, sans-serif;
    margin-top: 0;
    color: white;
}