*{
    box-sizing: border-box;
}
main{
    font-family: Helvetica, sans-serif !important;
    font-weight: 300 !important;
    margin-bottom: 40px;
}

h5 {
    font-family: Helvetica, sans-serif !important;
    font-weight: 600 !important;
}