<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <%- include('./partials/headerLogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="home.ejs">
                    <h2>Agregar un post</h2>
                    
                    
                    <input type="file" name="image" class="postForm"> <br></br>

                    <label for="descripcion">Ingresá una descripción</label>
                    <input type="text" name="descripcion" class="postForm"><br></br>

                    <label for="fechaCreacion">Fecha de creación</label>
                    <input type="date" name="fechaCreacion" class="postForm"><br></br>

                    <input type="submit" class="boton"value="Postear">

                </form>

            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %> 

</body>


</html>