<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <%- include('./partials/headerLogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="home.ejs" class="postForm">
                    <h2 id="NewPost">NUEVO POST</h2>
                    
                    <label for="image" class="postLabel">1. Cargá tu imagen</label>
                    <input type="file" name="image" class="postInput"> <br></br>

                    <label for="descripcion" class="postLabel">2. Ingresá una descripción</label>
                    <input type="text" name="descripcion" class="postInput"><br></br>

                    <label for="fechaCreacion" class="postLabel">3. Ingresá la fecha de creación</label>
                    <input type="date" name="fechaCreacion" class="postInput"><br></br>

                    <input type="submit" class="boton" value="Postear">

                </form>

            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %> 

</body>


</html>