<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <%- include('./partials/headerLogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="">
                    <h2>(Formulario para agregar un post)</h2>
                    <input type="image" name="image" id="image" placeholder="Ingrese su foto">
                    <input type="text" name="descripcion de la foto" id="descripcion de la foto" placeholder="Ingrese la descripcion">
                    <input type="submit" value="Postear">

                </form>

            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %> 

</body>


</html>