<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %> 

<body>
   <%- include('./partials/headerDeslogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="" class="formLogin">


                    <h2>Inicio de sesión</h2>
                    <form action="home.html" method="post" class="iniciar_sesion" >
                        <label for="usuario" class="formLabel">Nombre</label>
                          <input type="text" name="usuario" value="" required placeholder="Nombre" class="formInputs">
                        <br></br>
                        <label for="email" class="formLabel">Email o Usuario</label>
                          <input type="text" name="" value="" required placeholder="E-mail o Usuario" class="formInputs">
                          <br></br>
                        <label for="contraseña" class="formLabel">Contraseña</label>
                          <input type="password" name="contraseña" value="" required placeholder="Contraseña" class="formInputs" >
                      <br></br>
                      <button type="submit" name="button" class="enviar" id="perfil">Ingresar</button>
                      
                    </form>
                
                
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>