<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %> 

<body>
   <%- include('./partials/headerDeslogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">


                    <h2>Formulario de login</h2>
                    <form action="home.html" method="post" class="iniciar_sesion" >
                        <label for="nombre">Nombre</label>
                          <input type="text" name="usuario" value="" required placeholder="Nombre" id="Nom">
              
                        <label for="email">Email o Usuario</label>
                          <input type="text" name="" value="" required placeholder="E-mail o Usuario" id="email">
              
                        <label for="contrase単a">Contrase単a</label>
                          <input type="password" name="contrase単a" value="" required placeholder="Contrase単a" >
                      <br>
                      <button type="" name="button" class="enviar" id="perfil">Acceder</button>
                      <input type="submit" value="Completar el Formulario">
                    </form>
                
                
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>