<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/headerDeslogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">
                    
                    <h2>(Formulario de registraci칩n)</h2>

                <input class= "controls" type="text" name="Nombres" id="Nombres" placeholder="Ingrese su Nombre">
                <input class= "controls" type="text" name="Apellido" id="Apellido" placeholder="Ingrese su Apellido">
                <input class= "controls" type="email" name="Correo" id="Correo" placeholder="Ingrese su Correo">
                <input class= "controls" type="password" name="contrase침a" id="acaontrase침a" placeholder="Ingrese su Contrase침a">
                <p> Estoy de acuerdo con <a href="#">Termninos y condiciones</a></p>
                <input class= "botons"type="submit" value="Registrar">
                <p> <a href="#">Ya tengo cuenta?</a></p>
            
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

 


</body>

</html>