<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerDeslogueado') %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">


                <h2 id="Registrate">REGISTRATE!</h2>

                <form action="/registracion" method="POST" class="registracion">

                    <label for="nombres" class="regisLabel">Nombre</label>
                    <input type="text" name="nombres" class="regisInput" placeholder="Ingrese su nombre"><br></br>

                    <label for="apellido" class="regisLabel">Apellido</label>
                    <input type="text" name="apellido" class="regisInput" placeholder="Ingrese su apellido"><br></br>

                    <label for="fecha de nacimiento" class="regisLabel">Fecha de nacimiento</label>
                    <input type="number" name="fecha de nacimiento" class="regisInput"
                        placeholder="Ingrese su fecha de nacimiento"><br></br>

                    <label for="numero de telefono" class="regisLabel">Teléfono</label>
                    <input type="number" name="numero de telefono" class="regisInput"
                        placeholder="Ingrese su numero de telefono"><br></br>

                    <label for="correo" class="regisLabel">Correo Electrónico</label>
                    <input type="email" name="correo" class="regisInput" placeholder="Ingrese su correo"><br></br>

                    <label for="contraseña" class="regisLabel">Contraseña</label>
                    <input type="password" name="contraseña" class="regisInput"
                        placeholder="Ingrese su contraseña"><br></br>
                    <p> Estoy de acuerdo con <a href="#"> Terminos y condiciones</a></p>
                    <button type="submit" value="Registrar" class="enviar">Registrar</button>
                    <p><a href="#"> Ya tengo una cuenta!</a></p>

                </form>




            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>




</body>

</html>